body{
	background: #D1D1D1;
}
.rule {
	width: 1300px;
	height: 2px;
	background: #979797;
	margin-top: 30px;
	margin-left: 60px;
}
.title1{
    font-family: Titillium Web;
	font-size: 12pt;
	color: #979797;
	margin: 41px auto auto 50px;
}

.title2{
    font-family: Aldrich;
	font-size: 12pt;
	color: #979797;
	margin: 41px auto auto 50px;
}
.main{
	font-family: Aldrich;
	font-size: 30pt;
	color: #979797;
	text-align: center;
	margin-top: 150px;
}

.choicebutton{
	font-family: Aldrich;
	color: #979797;
	border: 1px solid #979797;
	padding: 10px 20px;
	display: inline-block;
	font-size: 20px;
	cursor: pointer;
	margin: 80px 60px auto 220px;
}


footer{
	background: #D1D1D1;
    font-family: Titillium Web;
	font-size: 12pt;
	color: #979797;
	text-align: center;
}

.foot{	
	font-family: Aldrich;
	font-size: 24pt;
	color: #979797;
	text-align: center;
	margin-top: 50px;
}

.logo1{
	height: 68px;
	width: 68px;
	position: absolute;
	right: 50px;
	top: 40px;
}

.logo{
	height: 68px;
	width: 68px;
	position: absolute;
	right: 50px;
	top: 20px;
}


.audio{ opacity: 0;
position: absolute;
}

.sound{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	cursor: pointer;
}

.read-content{
	margin-top: 80px;
	margin-right: 300px;
	margin-left: 150px;
	color: #979797;
	font-family: Optima;
}
.read-contentline1{margin-left: 60px;}
.read-contentline2{margin-left: 100px;}
.read-contentline3{margin-left: 140px;}
.read-contentline4{margin-left: 180px;}
.read-contentline5{margin-left: 220px;}
.read-contentline6{margin-left: 260px;}
.read-contentline7{margin-left: 300px;}
.read-contentline8{margin-left: 340px;}
.read-contentline9{margin-left: 380px;}
.read-contentline10{margin-left: 420px;}
.read-contentline11{margin-left: 460px;}
.read-contentline12{margin-left: 500px;}

.read-contentline1:hover, .read-contentline2:hover, .read-contentline3:hover, .read-contentline4:hover, .read-contentline5:hover,.read-contentline6:hover, .read-contentline7:hover, .read-contentline8:hover, .read-contentline9:hover, .read-contentline10:hover, .read-contentline11:hover, .read-contentline12:hover{
	font-size: 20pt;
	color: #000;}


.writer{
	margin: 40px auto auto 650px;
	color: #979797;
}

.think{
	font-family: Aldrich;
	font-size: 30pt;
	color: #979797;
	text-align: center;
	margin-top: 250px;
}

.circle{
	position: absolute;
	left: 50%;
	top: 70%;
	transform: translate(-50%, -70%);
	z-index: -1;
	opacity: 0.5;
}


a{color: #979797;}
.hide1{ display: none; }
.hide2{ display: none; }
.hide3{ display: none; }
.hide{ display: none; }









