body{
	background: #666;
}

.main{
	font-family: Abril Fatface;
	font-size: 58pt;
	color: #fff;
	width: 414px;
	position: absolute;
	left: 900px;
	top:100px; 
}

.logo{
	position: fixed;
	left: 3%;
	top:5%;
	z-index: 1;
	cursor: pointer;
}
.background{
	width: 800px;
	hyphens: 800px;
	position: fixed;
	right: -100px;
	bottom: -200px;
	z-index: -1;
}

.choicebutton1{
	position: fixed;
    bottom: 200px;
	left: 150px;
}
.choicebutton2{
	position: fixed;
	bottom: 100px;
	left: 300px;
}
.choicebutton3{
	position: fixed;
	bottom: 0px;
	left: 450px;
}

.choicebutton{
    cursor: pointer;
    width: 113px;
	height: 700px;
	background: url(../img/button.png) no-repeat;
	background-size:60% 100%;
	transition: all 1000ms ease;
}
.choicebutton:hover{
	background-position: 0px -100px; 
}

.audio{ opacity: 0;
position: absolute;
}

.sound{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	cursor: pointer;
}

.read-content{
	margin-top: 80px;
	margin-right: 300px;
	margin-left: 150px;
	color: #979797;
	font-family: Optima;
}
.read-contentline1{margin-left: 60px;}
.read-contentline2{margin-left: 100px;}
.read-contentline3{margin-left: 140px;}
.read-contentline4{margin-left: 180px;}
.read-contentline5{margin-left: 220px;}
.read-contentline6{margin-left: 260px;}
.read-contentline7{margin-left: 300px;}
.read-contentline8{margin-left: 340px;}
.read-contentline9{margin-left: 380px;}
.read-contentline10{margin-left: 420px;}
.read-contentline11{margin-left: 460px;}
.read-contentline12{margin-left: 500px;}

.read-contentline1:hover, .read-contentline2:hover, .read-contentline3:hover, .read-contentline4:hover, .read-contentline5:hover,.read-contentline6:hover, .read-contentline7:hover, .read-contentline8:hover, .read-contentline9:hover, .read-contentline10:hover, .read-contentline11:hover, .read-contentline12:hover{
	font-size: 20pt;
	color: #000;}


.writer{
	margin: 40px auto auto 650px;
	color: #979797;
}

.think{
	font-family: Aldrich;
	font-size: 30pt;
	color: #979797;
	text-align: center;
	margin-top: 250px;
}

.circle{
	position: absolute;
	left: 50%;
	top: 70%;
	transform: translate(-50%, -70%);
	z-index: -1;
	opacity: 0.5;
}



.hide1{ display: none; }
.hide2{ display: none; }
.hide3{ display: none; }
.hide{ display: none; }
.nextpage{
	position: fixed;
	bottom: 2%;
	right: 3%;
	z-index: 1;
}
.lastpage{
	position: fixed;
	bottom: 2%;
	left: 3%;
	z-index: 1;
}








