body{
	font-family: Andale Mono;
	font-size: 10pt;
	color: #979797;
  
}

footer{
	font-family: Andale Mono;
	font-size: 10pt;
	color: #FFFFFF;
	background: #979797
}

body{
	margin-left: 100px;
	margin-right: 100px;
}

h5{
	margin-left: 1100px;
}

h4{
	margin-left: 230px;
}

a{
	color: #FFFFFF
}

img{
	margin-top: 20px
    margin-right: 100px;
}

.rule {
	width: 1230px;
	height: 1px;
	background: #ccc;
	margin-top: 0;
	position: absolute;
	top: 165px;
}