body{
	font-family: Andale Mono;
	font-size: 10pt;
	color: #979797;
  
}

body{
	margin-left: 100px;
	margin-right: 100px;
}

.title{
	margin-left: 84%;
}

.right{
	margin-left: 230px;
}
.left{
	margin-left:20px;
}

a{color: #FFFFFF}

img{
	margin-top: 20px
    margin-right: 100px;
}

.rule {
	width: 83%;
	height: 1px;
	background: #ccc;
	margin-top: 0;
	position: absolute;
	top: 165px;
}

.question1, .question2, .answer1, .answer2{
	cursor: pointer;
} 

.hide {display: none;}

.guide{
	position: absolute;
	top: 650px;
	height: 200px;
	width: 83%;
}

.guidetext{
	padding-top: 40px;
	padding-bottom: 40px;
	padding-left: 5px;
	margin-top: 40px;
	font-family: Andale Mono;
	font-size: 10pt;
	color: #FFFFFF;
	background: #979797
}