*{color: #ccc;}
img{
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -20%);
}

.maintext{
	margin-top: 20px;
	text-align: center;
	font-family: Optima;
}

.title{
	font-size: 24pt;
	font-family: Optima;
	margin-top: 250px;
	text-align: center;
}
.author{
	margin-top: 90px;
	font-family: Optima;
	text-align: center;
}
footer{
	height: 200px;
}
.link{font-family: Optima;
	text-align: center;
	margin-top: 90px;
}
a{color: #ccc;}

.a:hover,.b:hover,.c:hover,.d:hover,.e:hover,.g:hover,.h:hover{
	font-size: 24pt;
	color: #000;
}